.octaveButtons {
    display: flex;

    div+div {
        margin-left: 2px;
    }
}

.switchLeft {
    position: absolute;
    top: 43px;
    left: 101px;
    cursor: pointer;
}

.switchRight {
    position: absolute;
    top: 43px;
    left: 106px;
    cursor: pointer;
}

.button {
    width: 2px;
    height: 7px;
    background: #C5C5C5;
    border: 0.2px solid #000000;
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.2px;
    cursor: pointer;
    padding: 0 0;
}

.active {
    width: 2px;
    height: 7px;
    background: #04ff00;
    border: 0.2px solid #000000;
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.2px;
    cursor: pointer;
    padding: 0 0;
}