.power {
    position: absolute;
    top: 31px;
    left: 65px;
}

.button {
    width: 2px;
    height: 7px;
    background: #C5C5C5;
    border: 0.2px solid #000000;
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.2px;
    cursor: pointer;
    padding: 0 0;
}

.activeButton {
    width: 2px;
    height: 7px;
    background: #D3F66A;
    border: 0.2px solid #000000;
    box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.2px;
    cursor: pointer;
    padding: 0 0;
}